/* Footer.css */

/* Footer.css */

.footer-banner {
    background-color: #004145; 
    color: #d19dcb;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #d19dcb; 
    text-decoration: none;
    margin: 0 5px;
}

.footer-content a:hover {
    text-decoration: underline;
}
